/*------------------------------------------------------------------
[Typography]

Body copy:      1.2em/1.6em Verdana, Helvetica, Arial, Geneva, sans-serif;
Headers:        2.7em/1.3em Helvetica, Arial, "Lucida Sans Unicode", Verdana, sans-serif;
Input, textarea:    1.1em Helvetica, Verdana, Geneva, Arial, sans-serif;
Sidebar heading:    1.5em Helvetica, Trebuchet MS, Arial, sans-serif;

Notes:  disminuyendo el encabezado en 0.4em con cada nivel de encabezado subsiguiente
-------------------------------------------------------------------*/
html{
  font-size: 16px;
}

@font-face {
  font-family: "Roboto";
  src: 
    url(../font/roboto-regular.woff2) format("woff2"),
    url(../font/roboto-regular.woff) format("woff");
}

/* VARIABLES de tipografía */
:root{
  --fontBase: "Roboto";
  --fontSizeBase: 1rem;
  --fontSizeTitulo: 1.125rem;
  --fontSizeparrafo: .875rem;
}
/* ********************** */

.titulo_grisoscuro {
  font-family: var(--fontBase);
  font-size: var(--fontSizeTitulo);
}

.titulo_blanco {
  font-family: var(--fontBase);
  font-size: var(--fontSizeTitulo);
}

.subtitulo_grisoscuro {
  font-family: var(--fontBase);
  font-size: var(--fontSizeBase);
}

.parrafo_naranja {
  font-family: var(--fontBase);
  font-size: var(--fontSizeparrafo);
}

.parrafo_grisoscuro {
  font-family: var(--fontBase);
  font-size: var(--fontSizeparrafo);
}
